html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto";
	font-size: 1.6rem;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
	margin: 0;
}

.container {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}

.heading {
    text-align: center;
    color: $secondary;
    margin-bottom: 5rem;
	font-size: 3rem;

	&.white {
		color: $primary
	}
}

.section {
	padding: 100px 0 50px 0;
}

.btn {
	color: $primary;
	display: block;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 30px;
	padding: 5px 20px;
	cursor: pointer;
	margin: 1rem 0;
	box-shadow: rgb(0 0 0 / 30%) 0px 4px 10px;
	text-transform: uppercase;

	&.success {
		background-color: $success;
	}
}

.grid {
	display: grid;
	gap: 2rem;

	@include tablet {
		&.two-col {
			grid-template-columns: repeat(2,1fr);
		}
		
		&.three-col {
			grid-template-columns: repeat(3,1fr);
		}
	}
}

