html {
	box-sizing: border-box;
	font-size: 62.5%;
	scroll-behavior: smooth;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto";
	font-size: 1.6rem;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
	margin: 0;
}
// ? Utilitys
.container {
	max-width: 1200px;
	width: 95%;
	margin: 0 auto;
}

.heading {
    text-align: center;
    color: $secondary;
    margin-bottom: 5rem;
	font-size: 3rem;

	&.white {
		color: $primary
	}
}

.section {
	padding: 100px 0 50px 0;
}

// ? Components
.btn-container {
	display: flex;
	align-items: center;
	justify-content: center;
	.btn {
		padding: 10px;
	}
}
.btn {
	color: $primary;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	border: none;
	padding: 5px 20px;
	cursor: pointer;
	margin: 1rem 0;
	box-shadow: rgb(0 0 0 / 30%) 0px 4px 10px;
	text-transform: uppercase;

	&.radius {
		border-radius: 30px;
	}
	&.success {
		background-color: $success;
	}
}

.btn-top {
	transform: scale(0);
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
    right: 15px;
    bottom: 15px;
    background-color: $success;
	color:$primary;
    width: 44px;
    height: 44px;
    line-height: 1;
    font-size: 1rem;
    transition: ease all .5s;
    z-index: 11;
	border-radius: 50%;
	cursor: pointer;

	svg {
		width: 2rem;
		height: 2rem;
	}
}
.btn-top.active {
	transform: scale(1);

}

// ? Grid
.grid {
	display: grid;
	gap: 2rem;

	@include tablet {
		&.two-col {
			grid-template-columns: repeat(2,1fr);
		}
		
		&.three-col {
			grid-template-columns: repeat(3,1fr);
		}
	}
}

